In [2]:
import pandas as pd

In [2]:
import requests

# URL of the dataset
url = "https://www.data.gov.in/files/ogdpv2dms/s3fs-public/dataurl28062016/rs_session-237_AU2793_1.1.csv"

# Send a GET request to download the content
response = requests.get(url)

# Save the file to the local system
with open("dataset.csv", "wb") as file:
    file.write(response.content)

print("Dataset downloaded successfully.")

Dataset downloaded successfully.

In [3]:
df = pd.read_csv("dataset.csv")

In [4]:
df.columns

Index(['S.No.', 'Towns', 'Zone', 'Zone Factor, Z'], dtype='object')

In [5]:
df['Zone Factor, Z'].unique()

array([0.16, 0.1 , 0.24, 0.36])

In [6]:
df.head(150)

     S.No.           Towns Zone  Zone Factor, Z
0        1            Agra  III            0.16
1        2       Ahmadabad  III            0.16
2        3           Ajmer   II            0.10
3        4       Allahabad   II            0.10
4        5          Almora   IV            0.24
..     ...             ...  ...             ...
102    103        Vadodara  III            0.16
103    104        Varanasi  III            0.16
104    105         Vellore  III            0.16
105    106       Vijaywada  III            0.16
106    107  Vishakhapatnam   II            0.10

[107 rows x 4 columns]

In [28]:
# Define credit risk mapping based on Zone Factor, Z
def assign_credit_risk(zone_factor):
    if zone_factor >= 0.24:
        return 'Low Risk'
    elif 1.1 <= zone_factor <= 0.16:
        return 'Moderate Risk'
    else:
        return 'High Risk'

# Apply the mapping to create a new column for credit risk
df['Credit_Risk'] = df['Zone Factor, Z'].apply(assign_credit_risk)

# Display the updated data
print(df[['Towns', 'Zone', 'Zone Factor, Z', 'Credit_Risk']].head())

       Towns Zone  Zone Factor, Z Credit_Risk
0       Agra  III            0.16   High Risk
1  Ahmadabad  III            0.16   High Risk
2      Ajmer   II            0.10   High Risk
3  Allahabad   II            0.10   High Risk
4     Almora   IV            0.24    Low Risk

In [7]:
df['Credit_Risk'] = df['Zone Factor, Z']

In [8]:
df = df.drop(columns=["Zone", "Zone Factor, Z"])

In [9]:
df["Credit_Risk"].unique()

array([0.16, 0.1 , 0.24, 0.36])

In [10]:
df.to_csv('city_wise_risk_data.csv', index=False)